{% extends "base.html" %}

{% block content %}
    {% set members = api_value | coalesce %}
    <div id="account-filters">
        <h3>
            <button class="fold-button" title="expand">⇕</button>
            Filters 🔍
        </h3>
        <div class="to-fold {{ 'hidden' if (members | length) == 1 else '' }}">
            <h3><span class="monospace">memberId</span></h3>
            {{ form(route_args, "members_by_member_ids", {"member_ids": "M-00-0000-0001"}) }}
            <h3><span class="monospace">email</span></h3>
            {{ form(route_args, "member_by_email", {"email": "test-account-uk@bulb.co.uk"}, method="POST") }}
            <h3><span class="monospace">postalCode</span></h3>
            {{ form(route_args, "member_by_postal_code", {"postal_code": "EC2M"}) }}
            <h3><span class="monospace">phoneNumber</span></h3>
            {{ form(route_args, "member_by_phone_number", {"phone_number": "+44000000000"}) }}
            <h3><span class="monospace">accountId</span></h3>
            {{ form(route_args, "member_by_account_id", {"account_id": "A-00-0000-0001"}) }}
            <h3>members in <span class="monospace">territory</span> created between  <span class="datetime">created_start</span> and  <span class="datetime">created_end</span></h3>
            {{ form(route_args, "members_by_territory_and_created_dates", {}, territory_dropdown=True, from_to_date_inputs=True) }}
        </div>
    </div>

    {% if route_args and not members %}
        <h2 class="panel"><em>None</em></h2>
    {% elif members %}
        {% for member in members %}
            <div id="member-{{ member.memberId }}">
                <h3>
                    <button class="fold-button" title="expand">⇕</button>
                    <a class="button square-button orange" title="edit" href="{{ url_for('current.member_edit', member_id=member.memberId) }}">✎</a>
                    <a class="button square-button blue" title="history" href="{{ url_for('current.member_history', member_id=member.memberId) }}">🕑</a>
                    &nbsp;
                    <span class="monospace">{{ member.memberId }}</span>
                    {{ member.created[:10] }}&nbsp;
                    {{ member.email }}
                    &nbsp;
                </h3>
                <div class="to-fold {{ 'hidden' if (members | length) != 1 else '' }}">
                    <a class="button blue" href="{{ url_for('current.member_notes', member_id=member.memberId) }}">
                        notes
                    </a>
                    <a class="button orange" title="delete {{ member.memberId }}" href="{{ url_for('current.member_delete', member_id=member.memberId) }}">
                        🗑️
                    </a>
                    {% for account in member.accounts %}
                        <a class="button green" href="{{ url_for('current.account_named_person', account_id=account.accountId) }}">
                            named people
                        </a>
                        <a class="button" href="{{ url_for('current.service', service_name='billing', route='bills_by_account_id', account_id=account.accountId) }}">
                            bills
                        </a>
                        <a class="button orange" href="{{ url_for('current.service', service_name='payment', route='sources_by_account_id', account_id=account.accountId) }}">
                            sources
                        </a>
                        <a class="button blue" href="{{ url_for('current.ledger', account_id=account.accountId) }}">
                            balance/ledger entries
                        </a>
                        <a class="button" href="{{ url_for('current.scheduler', account_id=account.accountId) }}">
                            scheduler
                        </a>
                        <a class="button shrub-link-button" title="shrub" href="{{ url_for('current.get_shrub', account_id=account.accountId) }}">🌳</a>
                        for <b class="monospace">{{ account.accountId }}</b>
                        <br>
                    {% endfor %}

                    {% for account in member.accounts %}
                        {% for product in account.products %}
                            {% for meterpoint_id in product.assetIds %}
                                <a class="button" href="{{ url_for('current.service', service_name='meteridentity', route='meterpoints_by_meterpoint_id', meterpoint_id=meterpoint_id) }}">
                                    <em>meterpoint:</em>
                                    &nbsp;
                                    {{ meterpoint_id[:6] }}...
                                </a>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                    {{ table(member, ['accounts']) }}

                    <div class="indent">
                        {% for account in member.accounts %}
                            <h3>
                                account:
                                <span class="monospace">{{ account.accountId }}</span>
                                <button class="copy-link blue" data-link="https://join.bulb.com/account-payment?id={{ encrypt(account.accountId) }}&territory={{ member.territory }}">⧉ add payment source</button>
                                <button class="copy-link grey" data-link="https://join.bulb.com/account-payment?id={{ encrypt(account.accountId) }}&territory={{ member.territory }}&isForOneOffPayment=true">⧉ add one-off payment source</button>
                                {# TODO(Laura Turnbull 2020/08/07): PLAT-4354 Enable once FE form is functioning #}
                                {% if features.get("FEATURE_ONE_OFF_PAYMENT_LINKS") %}
                                    <a class="button square-button" disabled href="{{ url_for('current.account_get_one_off_payment_link', account_id=account.accountId) }}">+ create one off payment link </a>
                                {% endif %}
                                <a class="button square-button" disabled href="{{ url_for('current.account_create_one_off_payment_token', account_id=account.accountId) }}">+ create one off payment token </a>

                            </h3>

                            {# clone an account for es move-in #}
                            {% if member.territory == "ES" %}
                                <button class="button grey es-move-in-button" id="es-move-in-button-{{ account.accountId }}">Clone this member for move-in</button>
                            {% endif %}


                            {{ table(account, ['namedPeople', 'products']) }}

                            <div class="indent">
                                {% for named_person in account.namedPeople %}
                                    <h3>named person: <span class="monospace">{{ named_person.namedPersonId }}</span></h3>
                                    {{ table(named_person, []) }}
                                {% endfor %}
                            </div>
                            <div class="indent">
                                {% for product in account.products %}
                                    <h3>product: <span class="monospace">{{ product.productId }}</span></h3>
                                    {{ table(product, []) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block modal %}
    {# have to do this again becasue of annoying jinja scoping rules #}
    {% set members = api_value | coalesce %}

    {% for member in members %}
        {% for account in member.accounts %}
            <form method="GET" action="{{ url_for('current.member_es_move_in', account_id=account.accountId) }}" id="es-move-in-modal-{{ account.accountId }}" class="hidden">
                Clone account <span class="monospace">{{ account.accountId }}</span> with following products:
                <br>
                <br>
                {% for product in account.products %}
                    <input name="{{ product.productId }}" type="checkbox" checked>
                    <label for="{{ product.productId }}"><span class="monospace">{{ product.productId }}</span></label>
                {% endfor %}
                <br>
                <br>
                <button class="button grey">Clone this member for move-in</button>
            </form>
        {% endfor %}
    {% endfor %}
    <script>
        const esMoveInButtons = document.getElementsByClassName('es-move-in-button')
        const modalBackground = document.getElementById('modal-background')
        for (let el of esMoveInButtons){
            el.onclick = ()=>{
                const esMoveInModal = document.getElementById(`es-move-in-modal-${el.id.slice(-14)}`)
                modalBackground.classList.remove('hidden')
                esMoveInModal.classList.remove('hidden')
            }
        }
    </script>
{% endblock %}
